schemas/Rip/Rip_1_91_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- édité avec XMLSpy v2017 sp1 (x64) (http://www.altova.com) par Francis Ouellet (Grics) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="RIP">
		<xs:annotation>
			<xs:documentation>Définition de rapport pour Oozmakappa</xs:documentation>
		</xs:annotation>
		<xs:complexType>
      <xs:sequence maxOccurs="unbounded">

        <xs:choice minOccurs="0">
          <xs:element name="Graphique" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Propriétés pour la génération des graphique dans le rapport</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence maxOccurs="unbounded">
                <xs:element name="Series" minOccurs="1" maxOccurs="1" >
                  <xs:annotation>
                    <xs:documentation>Spécifie le nom de la colonne pour l'abscisse, la légende et les valeurs de la série</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="Abscisse" use="required" type="xs:string" />
                    <xs:attribute name="Legende" use="required" type="xs:string" />
                    <xs:attribute name="Valeurs" use="required" type="xs:string" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Name" use="required" type="xs:string" />
            </xs:complexType>
          </xs:element>
        </xs:choice>

        <xs:element name="Page" maxOccurs="unbounded">
					<xs:complexType>
            <xs:sequence maxOccurs="unbounded">
							<xs:element name="Entete" type="Section" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Detail" type="Section" maxOccurs="unbounded"/>
							<xs:element name="Pied" type="Section" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="Description" type="xs:string"/>
						<xs:attribute name="Repetitive" type="xs:boolean" default="false">
							<xs:annotation>
								<xs:documentation>Permet de créer pour un set de données List une page par élément</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Name" use="required">
							<xs:annotation>
								<xs:documentation>Affiché comme nom de l'onglet dans Excel</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Template" type="xs:string"/>
		
    </xs:complexType>
	</xs:element>
	<xs:element name="Donnee">
		<xs:annotation>
			<xs:documentation>Définition pour une cellule du rapport RIP. Les données sont affichées colonnes par colonnes, il est possible de spécifier la colonne de départ dans l'élément parent "Section"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element name="ReglesFormat" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Pour l'utilisation de la mise en forme conditionnelle de Excel.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="3">
							<xs:element name="Regle">
								<xs:complexType>
									<xs:attribute name="Condition">
										<xs:annotation>
											<xs:documentation>Condition d'application</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Seuil">
										<xs:annotation>
											<xs:documentation>Valeur de comparaison avec la donnée de la cellule</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute ref="CouleurTexte"/>
									<xs:attribute ref="CouleurFond"/>
									<xs:attributeGroup ref="Police"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Donnee" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
      <xs:attribute name="Name" type="xs:string" />
			<xs:attribute name="Description" type="xs:string"/>
			<xs:attribute name="DataField" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Nom de la variable dans la structure passée au module RIP
Agit également comme identifiant de la donnée</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Formule" type="Formule" use="optional"/>
			<xs:attribute name="PageRef" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Page de référence, fonctionne avec le type de donnée Hyperlien</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="Cellule"/>
			<xs:attributeGroup ref="Police"/>
      <!-- <xs:assert test="(@Format = 'Formule' and @Formule) or not(@Format = 'Formule' or @Formule)"/> -->
		</xs:complexType>
	</xs:element>
  <xs:complexType name="Section">
		<xs:annotation>
			<xs:documentation>Section à l'interieur d'une page Excel contient les Données du rapport</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Donnee" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="Name" use="required">
			<xs:annotation>
				<xs:documentation>Nom de la section</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Colonne" type="xs:int" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>Première colonne utilisée par les données de la section. La première colonne porte le #0</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="AlternerLigne" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Permet d'appliquer un format de type pyjamma sur les lignes du rapport</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AutoFiltre" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Ajouter le filtre Excel sur les colonnes données incluse dans la section. Un seul autofilter est permis par page.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Hauteur" type="xs:int" use="optional">
		  <xs:annotation>
			<xs:documentation>Hauteur de la cellule</xs:documentation>
		  </xs:annotation>
		</xs:attribute>		
    <xs:attribute name="GraphRef" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Doit faire référence au nom du noeud Graphique à inclure dans cette section</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="TypeRepresentation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Nombre"/>
			<xs:enumeration value="Monetaire"/>
			<xs:enumeration value="Date"/>
			<xs:enumeration value="Heure"/>
			<xs:enumeration value="Pourcentage"/>
			<xs:enumeration value="Texte"/>
			<xs:enumeration value="Hyperlien"/>
			<xs:enumeration value="Entier"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:attributeGroup name="Cellule">
		<xs:attribute name="Format" type="TypeRepresentation" use="optional" default="Texte">
			<xs:annotation>
				<xs:documentation>Type de donnée Excel de la cellule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Fusion" type="xs:int">
			<xs:annotation>
				<xs:documentation>Combien de colonnes cette donnée doit couvrir</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Largeur" type="xs:int">
			<xs:annotation>
				<xs:documentation>Largeur de la cellule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
    <xs:attribute name="VAlign" type="AlignementVertical"/>
		<xs:attribute name="HAlign" type="AlignementHorizontal"/>
		<xs:attribute name="WrapText" type="xs:boolean" default="true">
			<xs:annotation>
				<xs:documentation>Est-ce que la donnéee peut s'afficher sur plusieurs lignes. Defaut (true)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="CouleurTexte"/>
		<xs:attribute ref="CouleurFond"/>
  </xs:attributeGroup>
	<xs:attribute name="CouleurFond">
		<xs:annotation>
			<xs:documentation>Couleur de la cellule en Hexadecimal. EX: #FFFFFF pour blanc</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="CouleurTexte">
		<xs:annotation>
			<xs:documentation>Couleur du texte en Hexadecimal. EX: #FFFFFF pour blanc</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="AlignementVertical">
		<xs:annotation>
			<xs:documentation>Alignement du texte sur l'axe vertical</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Haut"/>
			<xs:enumeration value="Bas"/>
			<xs:enumeration value="Centre"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlignementHorizontal">
		<xs:annotation>
			<xs:documentation>Alignement du texte sur l'axe horizontal</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gauche"/>
			<xs:enumeration value="Droite"/>
			<xs:enumeration value="Centre"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="Police">
		<xs:attribute name="Gras" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Defaut (false)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Italique" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Defaut (false)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Souligne" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Defaut (false)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Grosseur" type="xs:int">
			<xs:annotation>
				<xs:documentation>Taille de la police</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NomPolice" type="xs:string">
			<xs:annotation>
				<xs:documentation>Police définit dans Windows. Spécifier son nom générique</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
  <xs:simpleType name="Formule">
		<xs:annotation>
			<xs:documentation>Permet de spécifier à une cellule d'appliquer une formule Excel</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sum"/>
			<xs:enumeration value="Average"/>
			<xs:enumeration value="Count"/>
			<xs:enumeration value="Max"/>
			<xs:enumeration value="Min"/>
			<xs:enumeration value="SubTotal"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
